.awc-cart__overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0009;
  cursor: pointer;
  display: none; }

.awc-cart__trigger {
  font-size: 21px;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.22);
  position: fixed;
  bottom: 30px;
  right: 15px;
  margin-top: 15px;
  display: inline-block;
  width: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #2182e5;
  border-radius: 100%;
  z-index: 999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  @media only screen and (min-width: 299px) {
    .awc-cart__trigger {
      right: 30px; } }
  .awc-cart__trigger:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .awc-cart__trigger i {
    color: #ffffff;
    line-height: inherit;
    width: inherit; }
  .awc-cart__trigger.is-active .awc-cart-icon-open {
    display: none; }
  .awc-cart__trigger.is-active .awc-cart-icon-close {
    display: inline-block; }

.awc-cart__inner {
  width: 100%;
  right: 15px;
  left: 15px;
  display: none;
  z-index: 999;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  position: fixed;
  bottom: 130px; }
  @media only screen and (min-width: 299px) {
    .awc-cart__inner {
      width: 300px;
      left: auto; } }

.awc-cart__count {
  position: absolute;
  display: block;
  border: 1px solid #2182e5;
  width: 20px;
  line-height: 20px;
  background-color: #ffffff;
  color: #2182e5;
  border-radius: 100px;
  font-size: 11px;
  top: 0;
  right: 0; }

.awc-cart__items {
  overflow: auto;
  max-height: 400px;
  padding: 0;
  margin-bottom: 0; }

.awc-cart__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row wrap;
      -ms-flex-positive: row wrap;
          flex-grow: row wrap;
  padding: 10px 15px;
  border-bottom: 1px solid #ebebeb; }
  .awc-cart__item:last-child {
    border: none; }

.awc-cart__thumbnail img {
  width: 70px;
  height: 70px;
  margin-right: 10px; }

.awc-cart__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 25px; }

.awc-cart__title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  color: #333333; }
  .awc-cart__title:hover {
    color: #2182e5; }

.awc-cart .quantity {
  font-size: 12px;
  display: block; }

.awc-cart__total {
  background-color: #fafafa;
  padding: 10px 15px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px; }

.awc-cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row wrap;
      -ms-flex-positive: row wrap;
          flex-grow: row wrap;
  margin-top: 0;
  margin-bottom: 0; }
  .awc-cart__buttons a.button {
    font-size: 14px;
    line-height: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 0 !important;
    background-color: #6c757d;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    padding: 0; }
    .awc-cart__buttons a.button:hover {
      background-color: #868e96;
      box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.22);
      z-index: 2; }
  .awc-cart__buttons a.button.checkout {
    background-color: #71b02f; }
    .awc-cart__buttons a.button.checkout:hover {
      background-color: #8bcd45; }

.awc-cart a.remove {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ebebeb;
  color: #9c9c9c !important;
  z-index: 99;
  font-size: 18px;
  line-height: 0.8em !important; }

.awc-cart__empty-message {
  padding: 15px; }

.awc-cart .awc-cart-icon-close {
  display: none; }
